:root {
  --background: hsl(210, 49%, 81%);
  --foreground: hsl(209, 56%, 19%);
  --header: #33393f;
  --highlight: #e866ec;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin: 66px 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--foreground);
  color: var(--background);

  position: fixed;
  margin-top: -66px;
  width: 100%;

}

h1 {
  font-size: 200%;
}

h2 {
  margin: 2% 0;
  font-size: 250%;

}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #b9c6ae;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: var(--highlight);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  /* max-width: 96%; */
  background-color: var(--background);
}

section {
  display: flex;
  margin: 10px;
}

section h2 {
  flex: 0 0 180px;
  text-align: end;
}

section div.vert {
  flex: 0 0 10px;
}

section content {
  display: flex;
  flex-wrap: wrap;
}

/* content.inline {
  display: flex;
} */

div.head {
  flex: 0 0 250px;
  /* margin: 10px; */
}

div.text {
  flex: 1 0 250px;
  margin: 10px;
}

section content.site div {
  border: 1px solid var(--foreground);
  /* box-sizing: content-box; */
  height: 500px;
  width: 500px;
  margin: 2px;
}

section content.site:hover {
  box-shadow: inset 0px 0px 8px var(--highlight),
  0 0 15px var(--highlight);
}

article {
  border-bottom: 1px solid #13293d;
}

article p {
  margin: 2% 0;
  font-size: 110%;
}

article ul {
  margin-left: 5%;
  font-size: 110%;
  list-style: circle;
}

article li {
  margin: 5px 0;
}

/* Use :nth-child() to select every even list item */
article ul li:nth-child(even) {
  background-color: #b9c6ae;
  color: #13293d;
}

/* Use adjacent sibling combinator (+) to select all <p> elements that come immediately after a <ul> element inside of an <article> element */
article ul + p {
  background-color: #13293d;
  color: #fff;
}

/* Use child combinator (>) with a wildcard selector (*) to select every single element that is a direct descendant (or child) of any <div> element in an <article> element */
article div > * {
  padding: 20px;
  border: 4px solid #b9c6ae;
}

footer {
  text-align: center;
  border-top: 2px solid var(--foreground);
  background-color: var(--background);
  color: var(--foreground);
}

/* section.contact content {
  display: flex;
  justify-content: space-between;
  min-width: 300px;

} */

.site-title {
  border: 4px solid var(--foreground);
  height: 40px;
  width: 100px;
  position: relative;
  top: 50px;
}

content ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

content ul li {
  flex: 1 1 auto;
  min-width: 200px;
  text-align: center;
}

content a {
  color: var(--foreground);
  font-weight: bold;
  text-decoration: none;
}

content a:hover {
  color: var(--highlight);
}

p {
  padding: 0 0 5px 5px;
}

.vert {
  width: 10px;
  margin: 0px 10px;
  /* height: 40px; */
  background-color: var(--foreground);
}

.float-left {
  float: left;
  width: 250px;
}

.site {
  width: 100%;
}


/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .site {
    flex: 0 0 50%;
    max-width: 50%;
  }

    /* select the last child to grow to full width if it has space to grow */
    .site:first-child {
      flex-grow: 1;
    }
  }
  
/* media query for larger screens */
@media screen and (min-width: 992px) {
  /* header {
    width: 75%;
  } */

  .site {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .site:first-child {
    flex: 0 0 100%;
  }
}