:root {
  --background: hsl(210, 49%, 81%);
  --foreground: hsl(209, 56%, 19%);
  --header: #33393f;
  --highlight: #e866ec;
}

::selection {
  background-color: var(--foreground);
  color: var(var(--background));
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--foreground);
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--foreground);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
}

h2 {
  margin: 2% 0;
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--foreground);
  color: var(--background);
  width: 96%;

  position: fixed;
  margin-top: -100px;
  width: 100%;
}

header h1.page-title {
  padding: 1rem 1.2rem;
  font-size: 4.5rem;
  color: var(--background);
}

main {
  display: flex;
  flex-direction: column;
  /* grow shrink basis */
  flex: 1 0 auto;
  width: 100%;
  background-color: var(--background);
  /* testing */
  border: 1rem solid green;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 0 auto;

  margin: 10px;
  /* testing */
  border: 1rem solid yellow;
}

section h2 {
  flex: 0 0 180px;
  text-align: end;
}

section .vert {
  flex: 0 0 10px;
}

 content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Sizes authors headshot */
.head {
  flex: 0 0 250px;
  /* margin: 10px; */
}

/* Sizes about text */
.text {
  flex: 1 0 250px;
  margin: 10px;
}

.card {
  flex: 0 0 50%;
  /* testing */
  border: 1rem solid orange;
}
.card:first-child {
  flex: 0 0 100%;
  max-width: 100%;
  /* testing */
  border: 1rem solid orange;
}

.card-header {
  border: 4px solid var(--foreground);
  height: 50px;
  width: 100px;
  position: relative;
  top: 50px;
}






.card-body {
  border: 1px solid pink;/*var(--foreground); */
  /* box-sizing: content-box; */
  height: 100px;
  width: 100px;
  margin: 2px;
}

section content.site:hover {
  box-shadow: inset 0px 0px 8px var(--highlight),
  0 0 15px var(--highlight);
}

footer {
  text-align: center;
  margin: 1.5rem;
  border-top: 4px solid var(--foreground);
  background-color: var(--background);
  color: var(--foreground);
  /* testing */
  border: 1rem solid red;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.card-column {
  flex: 1 0 50%;
  padding: 1.5rem;
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

.site-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 100%;
  padding 2rem;
  color: var(--foreground);
  outline: 2px solid var(--background);
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
  grow: 1;
}

.site-card .card-header {
  position: relative;
  top: 15rem;
  left: 5rem;
  width: 300px;
  text-align: center;
  margin: 5rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--background);
  color: var(--foreground);
  border: 4px solid var(--foreground);
  transition: all 0.5s ease-in-out;
}

.site-card:hover,
.site-card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--highlight), 0 0 15px var(--highlight);
}

/* .site-card img {
  overflow: auto;
  display: flex;
  align-items: center;

} */

.thumb {
  width: 250px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #b9c6ae;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: var(--highlight);
}


article {
  border-bottom: 1px solid #13293d;
}

article p {
  margin: 2% 0;
  font-size: 110%;
}

article ul {
  margin-left: 5%;
  font-size: 110%;
  list-style: circle;
}

article li {
  margin: 5px 0;
}

/* Use :nth-child() to select every even list item */
article ul li:nth-child(even) {
  background-color: #b9c6ae;
  color: #13293d;
}

/* Use adjacent sibling combinator (+) to select all <p> elements that come immediately after a <ul> element inside of an <article> element */
article ul + p {
  background-color: #13293d;
  color: #fff;
}

/* Use child combinator (>) with a wildcard selector (*) to select every single element that is a direct descendant (or child) of any <div> element in an <article> element */
article div > * {
  padding: 20px;
  border: 4px solid #b9c6ae;
}


/* section.contact content {
  display: flex;
  justify-content: space-between;
  min-width: 300px;

} */


content ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

content ul li {
  flex: 1 1 auto;
  min-width: 200px;
  text-align: center;
}

content a {
  color: var(--foreground);
  font-weight: bold;
  text-decoration: none;
}

content a:hover {
  color: var(--highlight);
}

p {
  padding: 0 0 5px 5px;
}

.vert {
  width: 10px;
  margin: 0px 10px;
  /* height: 40px; */
  background-color: var(--foreground);
}

.float-left {
  float: left;
  width: 250px;
}

.site {
  width: 100%;
}


/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card:first-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
  
/* media query for larger screens */
@media screen and (min-width: 992px) {
  /* header {
    width: 75%;
  } */

  .card {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .card:first-child {
    flex: 0 0 100%;
    max-width: 100%
  }
}